@import 'values/mixins';
@import 'values/variables';
@import 'components/User';
@import 'components/Header';
@import 'components/buttons';



.mat-ripple-element {
    display: none;
}

body{
    background-color:#12131a;
    margin:0px;
    height: 100vh
}