.btn-primary {
    border-color: $theme-secondary !important;
    background: transparent !important;
    color: $theme-secondary !important;
    overflow: hidden;
    @include heading-font;
    font-weight: 700;
    &:after {
        width: 0;
        height: 0;
        opacity: 0;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        background-color: $theme-secondary !important;
        @include transform(translateX(-50%) translateY(-50%));
    }
    &:hover {
        color: #fff !important;
        background: transparent !important;
        &:after {
            height: 250px;
            width: 250px;
            opacity: 1;
        }
    }
    &:active {
        color: #fff !important;
        background: transparent;
        &:after {
            height: 600px;
            width: 600px;
            opacity: 1;
        }
    }
}

.btn {
    cursor: pointer;
    width: 160px;
    min-width: 160px;
    padding: 15px 0px;
    display: inline-block;
    border: 3px solid $theme-primary;
    color: $theme-primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 400;
    outline: none;
    position: relative;
    z-index: 2;
    @include transition(all 0.3s);
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        @include transition(all 0.3s);
    }
    &:focus {
        color: $theme-primary;
    }
}

.btn-xl {
    color: $theme-primary;
    background: transparent;
    border-color: $theme-primary;
    @include heading-font;
    font-weight: 300;
    overflow: hidden;
    &:after {
        width: 101%;
        height: 0;
        opacity: 0;
        top: 50%;
        left: 50%;
        background-color: $theme-primary;
        @include transform(translateX(-50%) translateY(-50%));
    }
    &:hover {
        color: #fff;
        &:after {
            height: 70%;
            opacity: 1;
        }
    }
    &:active {
        color: #fff;
        &:after {
            height: 130%;
            opacity: 1;
        }
    }
    font-size: 18px;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.btn-large {
    width: 100%;
    min-width: 240px;
    max-width: 100%;
    margin: 0;
}